torch
transformers
sentencepiece
accelerate
pandas
numpy
scikit-learn
matplotlib
jupyter
notebook
pyyaml
tqdm
nltk
sumy
networkx
rouge-score
evaluate
fastapi
uvicorn[standard]
pydantic
python-multipart
requests
kaggle
